---
# BedrockClans - Copyright 2019 - 2020 Wertzui123
# Don't edit this if you don't know what you're doing
config-version: 3.1
# Banned clan names
banned_clan_names: 
 - Hacker
 - Owner
 - Admin
 - Support Team
 - Supporter
 - Nazi
 - Team
 - Staff
 - Server
 - Clan
# Commands
command:
 clan:
  command: clan
  description: Create, delete and manage clans
  usage: "/clan <subcommand: string>"
  aliases: ['clans']
# Should  /clan create cost money? (EconomyAPI)
create_costs: false
# How much money it should cost to create a clan when create_costs is enabled
clan_create_costs: 100
# Whether /clan chat should be enabled or disabled
chat:
 enabled: true
 on: "on" # /clan chat on
 off: "off" # /clan chat off
# Whether /clan home should be enabled or disabled
home:
 enabled: true
# How many seconds an invitation is valid
invitation_expire_time: 3000
# The display-names and colors for the clan ranks
ranks:
 member:
  name: "Member"
  color: "§7"
 vim:
  name: "VIM"
  color: "§e"
 coleader:
  name: "Co-Leader"
  color: "§a"
 leader:
  name: "Leader"
  color: "§5"
bank:
 enabled: true
 withdraw:
  # All members (except the clan leader) have to wait this long (in hours) between withdrawing from the clan's bank
  cooldown: 24
  maximum:
   # How much percent of the money on the clan bank can be withdrawn from members with the following ranks
   member: 5
   vim: 10
   coleader: 30
   leader: 100
...